td,
th {
   text-align: center;
   padding: 10px;
   border: solid steelblue 3px;
}

.TableFormat table {
   margin: 10px auto;
}

h1 {
   text-align: center;
   margin: 1rem 0 1.68rem 0;
}

form {
   text-align: center;
}
.buttonAdd {
   margin: 20px 0 0 0;
}

.historial {
   text-align: center;
}

#botonDeEnvio {

   font-size: 23px;
}

#imageTitle {
   margin: 25px 500px 0 0;
}

#title {
   margin: 10px 0 0 500px;
   /*para agregar margen*/
}
